html,
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

h1,
h2 {
  margin: 0;
}

form {
  margin: 0;
}

input,
button,
textarea {
  font-family: inherit;
}
