/* table of contents

1 fonts

2 layout

3 components
  3.1 login-form
  3.2 user-profile
  3.3 text-input
  3.4 button

4 media queries
  4.1 media-querie-layout
  4.2 media-querie-login-form
  4.3 media-querie-user-profile

*/

:root {
  --accent: #c53246;
  --accent-80: rgba(197, 50, 70, 0.8);
  --accent-50: rgba(197, 50, 70, 0.5);
  --accent-40: rgba(197, 50, 70, 0.4);
  --accent-10: rgba(197, 50, 70, 0.1);
  --secondary: #262626;
  --secondary-80: rgba(38, 38, 38, 0.8);
  --secondary-40: rgba(38, 38, 38, 0.4);
  --dark-15: rgba(0, 0, 0, 0.15);
  --base-soft-25: rgba(151, 151, 151, 0.25);
  --base-pale: #f1f1f1;
  --base-weak: #ffffff;
}

/* ====================
   fonts
   ==================== */

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/GothamPro-Black.woff2') format('woff2'),
    url('./fonts/GothamPro-Black.woff') format('woff');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/GothamPro-Medium.woff2') format('woff2'),
    url('./fonts/GothamPro-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/GothamPro-Bold.woff2') format('woff2'),
    url('./fonts/GothamPro-Bold.woff') format('woff');
}

/* ====================
   layout
   ==================== */

body {
  font-family: 'Gotham', sans-serif;
  min-height: 100vh;
  background: var(--accent) url(./background.jpg) center center no-repeat;
  background-size: cover;
}

.container {
  padding: 37px 16px 16px;
  max-width: 600px;
  margin: auto;
}

.logo {
  display: block;
  width: 182px;
  height: 40px;
  margin: 80px auto 0;
}

/* ====================
   components
   ==================== */

/* login-form */

.login-form,
.user-profile {
  border-radius: 8px;
  box-shadow: 0 2px 16px 0 var(--dark-15);
  background-color: var(--base-weak);
  padding: 32px 24px;
}

.login-form__title {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--secondary-80);
}

.login-form__email {
  margin-top: 32px;
  width: 100%;
}

.login-form__password {
  margin-top: 24px;
  width: 100%;
}

.login-form__error {
  margin-top: 24px;
  border-radius: 4px;
  background-color: var(--accent-10);
  font-size: 12px;
  font-weight: 500;
  color: var(--accent);
  padding: 14px;
}

.login-form__submit {
  display: block;
  min-width: 145px;
  margin: 40px auto 24px;
}

/* user-profile */

.user-profile__avatar {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.user-profile__name {
  font-size: 18px;
  letter-spacing: 0.15px;
  text-align: center;
  color: var(--secondary-80);
  margin-top: 24px;
}

.user-profile__logout {
  width: 100%;
  margin: 40px auto 24px;
}

/* text-input */

.text-input {
  border-radius: 4px;
  background-color: var(--base-pale);
  border: solid 1px transparent;
  padding: 14px 16px;
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary-80);
  outline: none;
  -webkit-appearance: none;
  box-sizing: border-box;
}

.text-input::placeholder {
  color: var(--secondary-40);
}

.text-input:hover,
.text-input:focus {
  border-color: var(--base-soft-25);
}

.text-input--invalid,
.text-input--invalid:focus {
  color: var(--accent);
  border-color: currentColor;
}

.text-input--invalid::placeholder {
  color: var(--accent-80);
}

/* button */

.button {
  outline: none;
  border: 0;
  padding: 16px 32px;
  height: 48px;
  border-radius: 100px;
  box-shadow: 0 4px 16px 0 var(--accent-40);
  background-color: var(--accent);
  font-size: 14px;
  font-weight: 500;
  color: var(--base-weak);
}

.button:hover,
.button:focus {
  box-shadow: 0 6px 20px 0 var(--accent-40);
  background-color: var(--base-weak);
  color: var(--accent);
}

.button:active {
  box-shadow: 0 2px 10px 0 var(--accent-50);
  background-color: var(--base-weak);
  color: var(--accent);
}

/* ====================
   media queries
   ==================== */

@media screen and (min-width: 768px) {
  /* media-querie-layout */

  .logo {
    margin-top: 142px;
    width: 315px;
    height: 69px;
  }

  /* media-querie-login-form */

  .login-form__title {
    font-size: 24px;
  }

  .login-form__email {
    margin-top: 48px;
  }

  .login-form__password {
    margin-top: 32px;
  }

  .login-form__error {
    margin-top: 32px;
    font-size: 14px;
    padding: 14px 16px;
  }

  .login-form__submit {
    margin-top: 60px;
    margin-bottom: 12px;
  }

  /* media-querie-user-profile */

  .user-profile__avatar {
    width: 128px;
    height: 128px;
  }

  .user-profile__name {
    font-size: 28px;
    margin-top: 40px;
  }

  .user-profile__logout {
    margin-top: 56px;
  }
}
